<table class="table table-striped table-bordered table-hover">
  <thead>
    <caption><h4>Expense Categories</h4></caption>
    <tr>
      <th>Expense Name </th>
      <th>Avg Monthly Cost </th>
      <th>Expense Cost YTD </th>
      <th>Expense Cost MTD </th>
    </tr>  
</thead>
  <tbody>
    <% @expenses.each do |expense| %>
    <tr>
      <td><%= expense.name %></td>
      <td><%= number_to_currency expense.amount %></td>
      <td><%= number_to_currency expense.payments.total_payments %></td>
      <td><%= number_to_currency expense.amount %></td>
      <td><%= link_to 'edit', edit_expense_path(expense) %></td>
    </tr>
    <% end %>
  </tbody>
</table>