<div class='col-md-2'>
  <%= form_for @payment do |f| %>
    <div class='form-group'>
      <%= f.label :payment_name %><br/>
      <%= f.text_field :payment_name, class:'form-control' %>
    </div>
    <br/>
    <div class='form-group'>
      <%= f.label :payment_amount %><br/>
      <%= f.text_field :payment_amount, class:'form-control' %>
    </div>
    <br/>
    <div class='form-group'>
      <%= f.label :expense_id %><br/>
      <%= f.collection_select :expense_id, Expense.all, :id, :name, class:'form-control input-lg' %><br>
    </div>
    <br/>
    <%= f.submit class:'btn btn-primary' %>
  <% end %>
</div>

