<% if @payment.errors.any? %>
  <div class="well">
    <div class="span8">
      <% @payment.errors.full_messages.each do |msg| %>
        <ul>
          <%= msg %>
        </ul>
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for(@payment) do |f| %>
<div class='form-horizontal'>
  <div class='form-group'>
    <%= f.label :payment_name %><br/>
    <%= f.text_field :payment_name %>
  </div>
  <br/>
  <div class='form-group'>
    <%= f.label :payment_amount %><br/>
    <%= f.text_field :payment_amount %>
  </div>
  <br/>
  <div class='form-group'>
    <%= f.label :expense_id %><br/>
    <%= f.collection_select :expense_id, Expense.all, :id, :name %><br>
  </div>
  <br/>
  <%= f.submit %>
</div>
<% end %>
