<% if @payment.errors.any? %>
  <div class="well">
    <div class="span8">
      <% @payment.errors.full_messages.each do |msg| %>
        <ul>
          <%= msg %>
        </ul>
      <% end %>
    </div> 
  </div>
<% end %>

<%= form_for(@payment, class:'form-horizontal') do |f| %>
<div>
  <div class='form-group'>
    <%= f.label :payment_name %>
    <%= f.text_field :payment_name %><br>
  </div>
  <div class='form-group'>
    <%= f.label :payment_amount %>
    <%= f.text_field :payment_amount %><br>
  </div>
  <div class='form-group'>
    <%= f.label :user_id %>
    <%= f.collection_select :user_id, User.all, :id, :username %><br>
  </div>
  <div class='form-group'>
    <%= f.label :expense_id %>
    <%= f.collection_select :expense_id, Expense.all, :id, :name %><br>
  </div>
  <%= f.submit %>
</div>
<% end %>
