<div class='container'>
<h3>Payments</h3>
<div>
  <table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Payment name</th>
      <th>Amount</th>
      <th>Payee</th>
      <th>Expense</th>
      <th>Payment Date</th>
    </tr>
  </thead>
  <tbody class="" >
    <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.payment_name %></td>
      <td><%= number_to_currency payment.payment_amount %></td>
      <td><%= link_to payment.user.first_name, user_path(payment.user) %></td>
      <td><%= payment.expense.name %></td>
      <td><%= format_date payment.created_at %></td>
      <td><%= link_to 'Edit', edit_payment_path(payment) %></td>
      <td><%= link_to 'View', payment_path(payment) %></td>
    <% end %>
    </tr>
  </tbody>
</div>
</table>

<div><%= link_to 'New Payment', new_payment_path, class: "btn btn-primary" %></div>
</br>
<div class="well row">
  <div class="col-md-3">
    <h5>Total Payments:</h5>
    <p><%= number_to_currency @payments.total_payments %></p>
  </div>
  <div class="col-md-3">
    <h5>Payments This Month:</h5>
    <p><%= number_to_currency @payments.payments_this_month %></p>
  </div>
  <div class="col-md-3">
    <h5>TBD:</h5>
    <p><%= number_to_currency @payments.total_payments %></p>
  </div>
  <div class="col-md-3">
    <h5>TBD:</h5>
    <p><%= number_to_currency @payments.total_payments %></p>
  </div>
</div>
<div>
  <%= render 'expense_table' %>
</div>
<div><%= link_to 'Add New Expense', new_expense_path, class: "btn btn-primary" %></div>
<br>
<div><%= link_to 'Logout', logout_path, class: "btn btn-primary" %></div>
</div>